.navbar {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 5em;
}

.logo {
  font-weight: 600;
}

.navbarLinks {
  display: flex;
  > li {
    margin-left: 1.5rem;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
