.hero {
  width: 100%;
}

.content {
  line-height: 1.7em;
  max-width: 700px;
  margin: auto;
  font-size: 1.1rem;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }
  h2 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
  }
  img {
    max-width: calc(100% + 100px);
    margin: 2rem -50px 0;
  }
  p {
    margin-top: 1rem;
  }
  .videoWrapper {
    max-width: calc(100% + 100px);
    margin: 2rem -50px 0;
    .video {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* 16:9 */
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
