@import "./../global";

.container {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-content: space-between;
  color: $interactive-01;
}

.info {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.timelineTable {
  td {
    padding: 6px;
    padding-left: 0px;
    &:first-child {
      padding-right: 2em;
    }
  }
}
